<h2>Here the Boss user will be able to to add and remove employees to the platform</h2>
<form action="/boss-page" method="POST">
    <label for="username">Username</label><input type="text" name="username">
    <label for="password">Password</label><input type="password" name="password">
    <select name="role" id="role_user">
    <option value="TA">TA</option>
    <option value="Developer">Developer</option>
</select> 
    <button>Add user</button>
</form>