<a href="/">Index</a>
<form action="/signup" method="POST">
<label for="username">Username</label><input type="text" name="username">
<label for="password">Password</label><input type="password" name="password">
<select name="role" id="role_user">
    <option value="TA">TA</option>
    <option value="Developer">Developer</option>
</select> 
<!-- <label for="role">Role</label><input type="text" name="role"> -->
<button>Sign up</button>
</form>