<form action="/authentication/signin" method="POST">
  <p>Username</p>
  <input type="text" name="name">
  <p>Password</p>
  <input type="password" name="password">
  <br>
  <button class="btn-1 btn-primary">Sign In</button>
</form>