<form action="/authentication/signup" method="POST">
  <p>Username</p>
  <input type="text" name="username">
  <p>Password</p>
  <input type="password" name="password">
  <p>Role:</p>
  <select name="role">
  <option value="Boss">Boss</option>
  <option value="Developer">Developer</option>
  <option value="TA">TA</option>
</select>
  <br>
  <button class="btn-1 btn-primary">Sign Up</button>
</form>