<form action="/user/{{this._id}}/edit" method="POST">
Username <textarea name="title" id="" cols="30" rows="1" required>{{this.username}}</textarea>
Role: <textarea name="genre" id="" cols="30" rows="1" required>{{this.role}}</textarea>
<button>Edit</button>
</form>
<form action="/user/{{user._id}}/delete" method="POST"><button>Delete</button></form>